body {
    background: powderblue;
    font-family: Candara;
    color: DarkBlue;
}

#content {
    text-align: center ;
    padding: 30px;
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
}

h2 {
    color: lightseagreen;

}

header {
    font-weight: bold;
    color: darkblue;
    text-align: center;
  
}

 
header p {
    font-weight: bold;
    color: plum;
    text-align: center;
  
}

main {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    background-color:powderblue;
    margin-bottom: 20px;
    align-items: center;
   
}


#index {
    background-color: white;
    text-align: left;
    padding: 10px;
    width: 100% ;
    margin-left: 20px ;
    margin-right: 20px ;
    margin-bottom: 10px;
}


nav {        
    background-color: aliceblue;
    border: 10px aliceblue;
    padding: 15px;
    margin: 0px 10px 0px 0px;
    text-align: center;   
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

nav li {
    display: inline;
    padding: 15px; 
    margin: 0px;
    
}

aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;        
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: smaller;
    color: initial;
    padding: 10px;
    border: 10px gray;   
   
}

.btn-padding {
    margin-top: 10px;
    padding: 25px;
    border: 10px gray;    
    border-radius: 22px;
    margin-bottom: 25px;
}

.btn-margin-padding {
    padding: 25px;
    border: 10px plum;    
    border-style: ridge;
    margin-bottom: 25px;
}

#button-wrapper{
    background-color: aqua;
    display: inline-block;
    border: thin black solid;
    margin-bottom: 25px;
}

.btn-padding:hover {
    background-color: whitesmoke;
    border-color: white;
}

.elf-div-border {
    margin-top: 10px;
    padding: 25px;
    border: 10px gray;    
    border-radius: 22px;
    margin-bottom: 25px;
}

figure {
    float: left;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
}

figure.left {
    float: left;
}

footer{
    text-align: center;
    color: gray;
}

.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
}                
            